<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container-lg">
        <div class="page-header">
            <h1>Lista de Usuários</h1>
            <a href="create" class="btn btn-primary">Novo Usuário</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Senha</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for(usuario of usuarios) { %>
                    <tr>
                        <td><%= usuario.id %></td>
                        <td><%= usuario.nome %></td>
                        <td><%= usuario.email %></td>
                        <td><%= usuario.senha %></td>
                        <td class="actions">
                            <a href="/user/edit/<%= usuario.id %>" class="btn btn-secondary btn-sm">Editar</a>
                            <button onclick="apagarUsuario('<%= usuario.id %>')" class="btn btn-danger btn-sm">Apagar</button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
<script>
    async function apagarUsuario(id)
    {
        if(!confirm('Tem certeza que deseja apagar este usuário?')) return;
        
        const url = "/user/edit"
        const response = await fetch(url, 
        {
            method: "DELETE",
            headers: 
            {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ id: id })
        })

        const data = await response.json()
    
        if(!response.ok)
        {
            console.log("Erro ao apagar usuario")
        }
        console.log(data)
        location.reload()
    }
</script>
</html>